body {
  background-color: #030710;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
}

.layout {
  width: 90%;
  margin: 0 auto;
}

.text-gradient {
  background-image: linear-gradient(to right, #da51d3, #9674da, #6290de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
  .layout {
    width: 94%;
  }
}

.fan {
  animation-duration: 2.7s; /* Default animation speed */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fan.clockwise {
  animation-name: rotateClockwise;
}

.fan.anticlockwise {
  animation-name: rotateAntiClockwise;
  animation-duration: 1.9s; /* Faster animation for anticlockwise */
}

/* Keyframes for clockwise rotation */
@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Keyframes for anticlockwise rotation */
@keyframes rotateAntiClockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
